/* common shared styles */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;


}

main {
    /* margin: 120px; */
}

header {
    /* margin-bottom: 50px; */
}

section {
    margin-top: 100px;
}

.container {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    padding: 50px 140px;
    border-radius: 16px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* header styles */
.img-text-hny {
    position: absolute;
    padding: 180px 530px;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.img-text-hnw-celebration {
    position: absolute;
    padding: 233px 350px;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.offer-price {
    text-align: center;
}

.container-text {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;

}

.paragraph-text {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
}

.paragraph-text-container {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.container-hny-img {
    display: block;
    margin: auto;

}

/* main styles */

.banner-text {
    color: #FFF;
    font-size: 60px;
    font-weight: 900;
    position: absolute;
    text-align: lect;
    padding: 80px 600px 100px 126px;
    font-family: Merriweather;
}

.banner-paragraph {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    position: absolute;
    padding: 240px 500px 100px 126px;
}

.container-2 {
    margin-top: 100px;
    background-image: url("../resources/Vectorrr.png");

}

.bnr-img-inner {
    display: flex;
    object-position: right;
    /* position: absolute; */
    /* float: right; */
    padding-left: 800px;
    width: 319.83px;
    height: 464.662px;


}



.btn-primary {
    color: #FFF;
    background-color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    border: 0px;

}

.btn-container {
    color: #FFF;
    font-size: 60px;
    font-weight: 900;
    position: absolute;
    padding: 350px 1000px 300px 126px;
    font-family: Merriweather;

}

.sec-1 {
    margin-bottom: 100px;
}

.sec-3 {
    margin-top: 100px;
}

.content {
    text-align: center;
    width: 100%;
    max-height: 482px;
    flex-shrink: 0;
    /* padding: 100px 386px 214px 385px; */
    justify-content: space-around;
}

.event-content-schedul {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.event-content {

    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.btn-primary-2 {
    /* border-radius: 8px;
    background: #F00;
    text-align: center;
    padding: 0px 32px;
    display: inline-flex; */
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: 0px;

}

.btn {
    margin-top: 20px;
}

/* event section */
.section-event {
    display: flex;
    align-content: space-between;
}

.event {
    padding-right: 30px;
}

.event-2 {
    padding-left: 50px;
}

.container-event {

    color: #F00;
    text-align: left;
    font-size: 24px;
    font-weight: 500;

}

.content-event {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    align-content: space-around;

    /* 160% */
}

.container-event-2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.container-event-3 {
    color: #F00;
    font-family: Inter;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.img-96 {
    display: block;
    float: right;
    padding-right: 220px;
}

/* holyday content style */
.holyday-sales {
    text-align: center;

}

.holyday-greetings {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin: 0px 500px;

}

.holyday-greetings-2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0px 350px;

}

.holyday-color {
    color: #F00;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holyday-greetings-text {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
    padding: 0px 240px 0px 240px;
}

.img-vector-1 {
    background-image: url('../resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    display: flex;
    background-position: bottom;
    justify-content: space-around;
    width: 100%;
    height: auto;
    align-items: center;
    /* position: fixed; */

}

.class-img-v-1 {
    width: 429px;
    height: 433px;
    padding: 100px 218px 226px 0px;
}

.class-img-v-2 {
    /* padding: 425px 120px; */
}

.gift {
    align-items: normal;
    margin: 140px;
}

.gift-1 {
    color: #F00;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.gift-2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 16px;
}

.gift-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    padding-top: 16px;
}

.container-img {
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 24px;

}

section {
    margin-top: 120px;
}

.subscriber {
    margin-top: 140px;
}

.img {
    /* padding: 0 400px 0 500px; */
    margin: 0px 560px;
}

.subs {
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    /* height: 72px; */
    /* margin: 0px 400px; */
    padding-left: 420px;

}

.btn-subs {
    width: 210px;
    /*height: 72px;
    flex-shrink: 0; */
    border-radius: 0px 100px 100px 0px;
    background: #F00;
    padding: 20px;
    border: 0px;
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
    color: #FFF;
    text-align: center;
    font-size: 20px;
}

.subs-2 {
    padding: 20px;
    border-radius: 20px;
    background: #FFF;
    width: 300px;
    border: 0px;

}

.sub-content {
    align-items: center;


}

.sub-title {
    color: #070211;

    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.sub-p {
    color: rgba(7, 2, 17, 0.60);

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
    /* 160% */
}




.colum {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    max-width: 90%;
    padding-top: 120px;

}

.colum-2 {
    display: flex;
    margin: 0px 600px 0px 600px;
    gap: 40px;

}

.colum-3 {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding: 10px 140px 140px 140px;

}

.address {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    gap: 10px;
    /* 166.667% */
}

.unsubscribe {
    color: #f50a0a;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px;
}

.container-footer {
    width: 1320px;
    height: 600px;
    background: #070211;
    margin: 0px 140px 300px 140px;
}

.footer-p-1 {
    max-width: 50%;
    ;
}

.icon-address {
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}

.address-2 {
    justify-content: space-between;
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}